.posts-wrapper {
  background-color: transparent;
  padding: 5px;

  .posts-item-note {
    color: $dark-text-link-blue;
    font-size: 25px;
  }

  .post-item {
    border-top: transparent;
    white-space: normal;
    overflow-wrap: break-word;
  }

  // last post item won't have a border
  .post-item:not(:last-child) {
    border-bottom: 1px solid $dark-light;
    margin-bottom: 1px;
  }

  span.post-item-date {
    display: block;
    color: $dark-white;
    font-weight: bold;
    white-space: nowrap;
  }

  .post-item-title a {
    color: $smoke;
    //font-weight: bold;
  }

  .post-item-title a:hover {
    color: $darker-blue-grey
  }
}



.col-md-2 {
  flex: 1; // or a fixed width if you want the date to have a specific width
  white-space: nowrap;
  text-overflow: ellipsis;
}

.col-md-8 {
  flex: 5; // allows the title to grow and take up remaining space
  //overflow: hidden;
  padding-left: 10px; // adjust as necessary for spacing
}